 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body{
   position: relative;
   width: 100%; 
   height: 100%;
   flex-direction: column;
   background-color: black;
   color: #fff;
   background-position: center;
   background-size: cover;   
 }
 header {
   display: flex;
   justify-content: space-between;
   position: relative;
   padding: 15px;
   text-decoration: solid;
   align-items: center;
   background: url();
 }
 header .logo{
   display: flex;
   justify-content: center;
   position: relative;
   padding: 15px 20px;
   font-size: 25px;
   text-decoration: none;
   color: #fff;
 }
 header .navigation .home{
   background-color: rgb(174, 16, 206);
   border-radius: 25%;
 }
 header .navigation a{
   margin-left: 20px;
   font-size: 20px;
   padding: 8px 20px;
   text-decoration: none;
   color: #fff;
   transition: 0.3s;    
}
header .navigation a:hover{
   background-color: rgb(174, 16, 206);
   border-radius: 25%;
}
section {
   font-size: 20px;
   margin-top: 200px;
   padding: 30px; 
}
.myimg{
  /* border-radius: 150px;; */
  float: right;
}
section .content{
   padding: 10px 0px;
   max-width: 600px;
   font-size: 20px;

}
section h1{
  font-size: 35px;
  font-weight: 700;
}
section h3{
  font-size: 28px;
  font-weight: 800;
  color: rgb(174, 16, 206);
}
footer{
  padding: 0px 30px;
}
footer .btn-box{
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px px;
  width: 345px;
  height: 50px;
}
.btn-box a{
  width: 150px;
  height: 100%;
  background: rgb(174, 16, 206);
  border: 2px solid rgb(174, 16, 206);
  border-radius: 8px;
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  display: inline-flex;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
}
footer .btn-box a:hover{
  background-color: rgb(122, 7, 145);
}
.icon {
  width: 175px;
  bottom: 40px;
  
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.icon a{
  display: inline-flex;
  padding: 0px 20px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(174, 16, 206);
  border-radius: 50%;
  font-size: 25px;
  text-decoration: none;
  font-weight: 800;
  color: rgb(174, 16, 206);
  transition: 0.3s;
}
.icon a:hover{
  background-color: #fff;
}


